%header768px{
  max-height: none;

  > nav {
    grid-template-rows: 1fr fit-content(100%) fit-content(100%);

    > h1 {
      grid-column: 1/100;
      grid-row: 1 / 2;
      display: grid;
      grid-template-columns: auto minmax(1px, 1000px) auto;

      > a {
        grid-column: 1 / 2;
        margin-right: .3rem;
        > figure {
          > picture {
            grid-row: 1 / 7;
          }
        }
      }

      > div {
        grid-column: 3 / 4;
        display: inline-block;
        cursor: pointer;
        align-self: center;
        margin-left: 1.1rem;

        > div {
          width: 35px;
          height: 5px;
          margin: 6px 0;
          background: invert(mix($logo, $bgc));
          transition: 0.4s;
        }

        &.change > div {
          background: $bgcLight;

          &:nth-of-type(1) {
            transform: rotate(-45deg) translate(-9px, 6px);
          }

          &:nth-of-type(2) {
            opacity: 0;
          }

          &:nth-of-type(3) {
            transform: rotate(45deg) translate(-8px, -8px);
          }
        }

        &:hover > div {
          background: $bgcLight;
        }
      }
    }
    > ul {
      grid-column: 1/100 !important;
      display: block;
      font-size: 1.5rem;
      
      > li {
        display: list-item;
        line-height: 4rem;
        margin-top: 0;
        max-height: 0;
        opacity: 0;
        transition: max-height 1s, opacity 0.5s 0.2s;
        

        > a {
          border-radius: 0;
        }
      }

      &:nth-of-type(1) {
        grid-row: 2 / 3;
      }

      &:nth-of-type(2) {
        grid-row: 3 / 4;

        > li {
          &:nth-of-type(2) {
            display: none;
          }

          > a:hover {
            background: $bgcLight;
            color: $bgcDark;
          }
        }
      }
    }

    &.showingLi > ul > li {
      max-height: 20rem;
      opacity: 1;
    }
  }
}