%header {
  display: block;
  position: fixed;
  width: 100%;
  z-index: 1;
  max-height: 92px;
  background: $bgc;
  box-shadow: 0px 0px 5px 0px $bgcDark;

  > nav {
    @include grid(col, 99, 1fr);

    > section {
      grid-column: 1 / 21;
      display: block;
      justify-self: center;
      >abbr{
        opacity: 0;
      }
      > div {
        display: none;
      }
    }

    li,
    li > a {
      border-radius: 10px;
    }

    ul li > a {
      display: block;
      transition: 0.3s ease-in;

      &:hover {
        color: $bgcDark;
        background: $bgcLight;
      }
    }

    > ul {
      display: grid;
      grid-gap: 5px;

      > li {
        display: list-item;
        line-height: 3.3rem;
        margin-top: 1rem;
        position: relative;
        text-align: center;

        > ul {
          display: none;
        }

        &:hover > ul {
          display: grid;
          grid-gap: 1px;
          @extend %animated, %flipInX;

          > li {
            background: $bgc;
          }
          @media (min-width: 768px) {
            &::before{
              content: '^';
              margin: -0.8rem;
              padding-top: 0.3rem;
            }
          }
        }
      }

      &:nth-of-type(1) {
        grid-column: 22 / 70;
        @media (min-width: 768px){
          a {
            border: solid $bgc + 3;
          }
        }
      }

      &:nth-of-type(2) {
        grid-column: 75 / 80;
        grid-template-columns: 5fr 2fr 5fr;
        li:nth-of-type(2){
          color: $bgcLight;
        }
        a:hover {
          background: none;
          color: darken($color, $changeAmount);
          @media (min-width: 768px){
            &:hover{
              font-weight: bold;
            }
          }
        }
      }
    }
    >abbr{
      grid-column: 94/96;
      margin-top: 1rem;
      line-height: 3.3rem;
      font-family: 'Material Icons';
      transition: font 0.3s;
      text-decoration: none;
      cursor: pointer;
      &:hover{
        font-size: 1.2rem;
      }
    }
    > input {
      display: none;
    }
    &.searchMode{
      div{
        display: none;
      }
      ul,abbr{
        display: none;
      }
      input{
        grid-column: 22/96;
        grid-row: 1/2;
        display: inline-block;
        margin: 1rem 0;
        background: $bgcDesat;
        font: inherit;
        color: invert($bgcDesat);
        border: none;
        border-radius: 10px;
        &:focus{
          outline: none;
        }
        &::placeholder{
          color: invert($bgcDesat);
          opacity: 0.2;
        }
      }
    }
  }
}